@model CargoLogistic.WebUI.Models.PostCargoListDetailsModel

<p>PostCargo Detail</p>


@Model.CountryFrom.Name - @Model.CountryTo.Name
<br/>
@Model.LocalityFrom - @Model.LocalityTo
<br/>
@Model.Price


    

