@model CargoLogistic.WebUI.Models.EditPostCargoModel

@{
    ViewBag.Title = "DeletePostCargo";
}

<h2>DeletePostCargo</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EditPostCargoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalityFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalityFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalityTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalityTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTransportTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTransportTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "PostCargoList")
        </div>
    }
</div>
