@model IEnumerable<CargoLogistic.WebUI.Models.PostCargoListDetailsModel>

@{
    ViewBag.Title = "Post List";
}

<script>
    
    function PostPublish(postId) {
           
        var options = { "backdrop": "static", keyboard: true };
        
        $.ajax({
            type: "GET",
            url: '/ClientProfile/PublishPostCargo?postId=' + postId,
            contentType: "application/json; charset=utf-8",
            //data: { "postId": id },
            //datatype: "json",
            success: function (data) {
                $('#myContentPublish').html(data);
                $('#myModalPublish').modal(options);
                $('#myModalPublish').modal('show');
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
 
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    }; 

    function PostUnPublish(postId) {

        var options = { "backdrop": "static", keyboard: true };

        $.ajax({
            type: "GET",
            url: '/ClientProfile/UnPublishPostCargo?postId=' + postId,
            contentType: "application/json; charset=utf-8",
            //data: { "postId": id },
            //datatype: "json",
            success: function (data) {
                $('#myContentPublish').html(data);
                $('#myModalPublish').modal(options);
                $('#myModalPublish').modal('show');
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    }; 
  

</script>

<h2>User's Post List</h2>

<div class="row">

<div class="col-md-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>PublicationDate</td>
            <td>DateFrom - DateTo</td>
            <td>CountryFrom</td>
            <td>CountryTo</td>
            <td>Price</td>
            <td>Cargo Description</td>
            <td>NumberOfViews</td>
            <td>Status</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.PostId</td>
                <td>@Html.DisplayFor(m => p.PublicationDate)</td>
                <td>@Html.DisplayFor(m=>p.DateFrom) - @Html.DisplayFor(m => p.DateTo)</td>
                <td><span>@p.CountryFrom.Alpha2Code</span><br/><span>@p.LocalityFrom</span></td>
                <td><span>@p.CountryTo.Alpha2Code</span><br/><span>@p.LocalityTo</span></td>
                <td>@Html.DisplayFor(m=>p.Price)</td>
                <td><span>@p.CargoDescription</span><br/><span>@p.CargoWeight tones | @p.CargoVolume m3</span></td>
                <td>@p.NumberOfViews</td>
                <td>@CustomHelpers.DisplayStatus(p.Status)</td>
                <td>
                    @Html.ActionLink("Edit", "EditPostCargo", new {postId=p.PostId}) | 
                    @Html.ActionLink("Delete", "DeletePostCargo", new { postId = p.PostId })| 
                    @if(p.Status)
                    {
                        @*@Html.ActionLink("UnPublish", "UnPublishPostCargo", new {postId = p.PostId})*@
                        @Html.ActionLink("UnPublish", null, null, new {onclick= "PostUnPublish(" + p.PostId +")", data_toggle="modal", href=""})
                    }
                    else{
                        @Html.ActionLink("Publish", null, null, new {onclick="PostPublish(" + p.PostId +")", data_toggle="modal", href=""})
                         @*<a id="anchorDetail" onclick="PostPublish(@p.PostId)" href="" data-toggle="modal">-pub-</a>*@
                    }
                </td>
            </tr>
        }
        </tbody>

    </table>
    @Html.ActionLink("Create Post", "CreatePost", "ClientProfile", null, new{@class="btn btn-primary"})
    @Html.ActionLink("Back to ClientProfile", "Index", "ClientProfile", null, new { @class = "btn btn-primary" })
</div>
    
</div>


<div class="modal fade" id="myModalPublish" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post Cargo Details</h4>
            </div>
            <div class="modal-body">
                <div id='myContentPublish'></div>
                @*another content*@  

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                @*<button type="button" class="btn btn-success">Submit</button>*@
            </div>
        </div>

    </div>
</div>
