@using CargoLogistic.Domain.Entities
@model IEnumerable<Post>

@{
    ViewBag.Title = "Post List";
}

<h2>User's Post List</h2>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create Post", "CreatePost", "ClientProfile")
        
    </div>
    <br/>


<div class="col-md-9 col-lg-offset-1">
    <table class="table">
        <thead class="table-bordered table-striped">
        <tr>
            <td>Id</td>
            <td>PublicationDate</td>
            <td>DateFrom</td>
            <td>DateTo</td>
            <td>CountryFrom</td>
            <td>CountryTo</td>
            <td>Price</td>
            <td>Status</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.PublicationDate</td>
            <td>@p.DateFrom.ToShortDateString()</td>
            <td>@p.DateTo.ToShortDateString()</td>
            <td>@p.LocationFrom.Country.Alpha2Code</td>
            <td>@p.LocationTo.Country.Alpha2Code</td>
            <td>@p.Price</td>
            <td>@CustomHelpers.DisplayStatus(p.Status)</td>
        </tr>
        }
        </tbody>

    </table>
    @Html.ActionLink("Back to ClientProfile", "Index", "ClientProfile")
</div>
    
</div>


