@model IEnumerable<CargoLogistic.WebUI.Models.PostCargoListDetailsModel>

@{
    ViewBag.Title = "Post List";
}

<h2>User's Post List</h2>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create Post", "CreatePost", "ClientProfile")
        
    </div>
    <br/>


<div class="col-md-9 col-lg-offset-1">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>PublicationDate</td>
            <td>DateFrom</td>
            <td>DateTo</td>
            <td>CountryFrom</td>
            <td>CountryTo</td>
            <td>Price</td>
            <td>Status</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.PostId</td>
            <td>@Html.DisplayFor(m => p.PublicationDate)</td>
            <td>@Html.DisplayFor(m=>p.DateFrom)</td>
            <td>@Html.DisplayFor(m => p.DateTo)</td>
            <td>@p.CountryFrom.Alpha2Code</td>
            <td>@p.CountryTo.Alpha2Code</td>
            <td>@Html.DisplayFor(m=>p.Price)</td>
            <td>@CustomHelpers.DisplayStatus(p.Status)</td>
            <td>
                @if(p.Status)
                {
                @Html.ActionLink("UnPublish", "UnPublishPostCargo", new {postId = p.PostId})
                }
                else{
                @Html.ActionLink("Publish", "PublishPostCargo", new {postId = p.PostId})
                }
            </td>
        </tr>
        }
        </tbody>

    </table>
    @Html.ActionLink("Back to ClientProfile", "Index", "ClientProfile")
</div>
    
</div>


