@model IEnumerable<CargoLogistic.WebUI.Models.CountryListDetailsModel>

@{
    ViewBag.Title = "Country List";
}


<div class="row">
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>NumericCode</td>
            <td>StringCode</td>
            <td>Localities</td>
            <td>Edit | Delete</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.Id</td>
                <td>@country.Name.ToUpper()</td>
                <td>@country.NumericCode</td>
                <td>@country.Alpha2Code</td>
                <td>
                    @foreach (var locality in @country.Localities)
                    {
                        <span>@locality.Name.ToUpper()</span><br/>
                    }
                </td>
                <td>
                    <span>@Html.ActionLink("Edit", "EditCountry",  new {countryId = country.Id})</span><span> | </span>
                    <span>@Html.ActionLink("Delete", "DeleteCountry", new { countryId = country.Id })</span>
                </td>
                
            </tr>
            
        }
       
        </tbody>
    </table>
    <div class="btn btn-default">@Html.ActionLink("Add Country", "CreateCountry", "Country")</div>
    <div class="btn btn-default">@Html.ActionLink("Add Locality", "AddLocality", "Locality")</div>
    <div class="btn btn-default">@Html.ActionLink("ADMIN PAGE", "Index", "Admin")</div>
</div>

